
/*
 |--------------------------------------------------------------------------
 | Function key labels
 |--------------------------------------------------------------------------
 |
 |
 */

.pad-key-backspace:after {
    content: '\2190 '; /* `\232B` is not rendered on android */
}
.pad-key-caps:after {
    content: '\21E7';
}
.pad-key-enter:after {
    content: '\21B5';
}
.pad-key-close:after {
    content: '\00D7';
}


/*
 |--------------------------------------------------------------------------
 | Layout key labels
 |--------------------------------------------------------------------------
 |
 |
 */

.pad-key-normal:after {
    content: 'ABC';
}
.pad-key-num:after {
    content: '123';
}
.pad-key-alt:after {
    content: '#+=';
}


/*
 |--------------------------------------------------------------------------
 | Layout modifier classes
 |--------------------------------------------------------------------------
 |
 |
 */

.pad-upper {
    text-transform: uppercase;
}