
/*
 |--------------------------------------------------------------------------
 | Key styles
 |--------------------------------------------------------------------------
 |
 |
 */

.key,
.pad-space {
    display: table-cell;
    text-align: center;
    line-height: 1.5;
    font-size: 32px;
    margin: 3px;
}

.key div {
    width: 50px; height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.key.active div,
.key:active div {
    background: #fff;
    color: #182424;
}