
/*
 |--------------------------------------------------------------------------
 | Pad global
 |--------------------------------------------------------------------------
 |
 |
 */

.pad-keys,
.pad-keys * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pad-keys {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 560px;
    margin: 0 auto;
}
.pad-row {
    display: table;
    width: 100%;
}
